.article_detail {
  width: 100%;
  height: 100%;
  .article_detail_main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .article_detail_left {
      flex: 1;
      width: calc(100% - 20rem - 1rem);
      padding-top: 1rem;
      padding-bottom: 1rem;
      .article_detail_left_article {
        padding: 1rem;
        background: var(--bg-second);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        .article_detail_title {
          text-align: center;
          h1 {
            margin: 0;
            padding: 0;
            margin: .67em 0 0;
            color: inherit;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 1rem;
            line-height: 1.5;
            text-align: center;
          }
          p {
            padding: 0;
            margin: 0;
            margin-bottom: 1.2em;
            color: inherit;
            font-style: italic;
            text-align: center;
          }
        }
        .article_detail_session {
          padding: 21px 0;
          margin-top: 30px;
          line-height: 28px;
          color: var(--second-text-color);
          border-top: 1px dashed var(--border-color);
          .article_detail_settime {
            color: #655e5e;
            font-size: 12px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 21px;
          }
        }
      }
    }
    .article_detail_right {
      width: 20rem;
      margin-left: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}