.ArticleClassification{
    border-radius: 2px;
    margin-bottom: 1.3rem;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(18 18 18/10%);
    line-height: 1.29;
    overflow: hidden;
    margin-left: 20px;
}
.b0LQ{
    padding: 1rem 1.3rem;
    border-bottom: 1px solid #f0f2f7;
    color: rgba(0,0,0,0.85);
    font-weight: 700;
}
.ArticleClassification ul{
    padding: 1rem;
    list-style: none;
    margin: 0;
}
.ArticleClassification ul li{
    opacity: 1;
    height: 37px;
    transform: none;
    padding: 8px 7px;
    border-radius: 2px;
    color: rgba(0,0,0,0.65);
    line-height: 1.5em;
    transition: all .2s ease-in-out;
}   
.ArticleClassification ul li a{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.ArticleClassification ul li a:hover{
    color: red;
}
a, a:hover{
    color: inherit;
}