.content {
  min-height: 100vh;
  background: var(--bg-body);
  color: var(--main-text-color);
}
.container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and(max-width: 768px) {
  .right{
    display: none;
  }
  .aaa{
    height: 200px !important;
  }
}
.wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.left {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  .header{
    padding: 1rem;
    background: var(--bg-second);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: 1px solid var(--border-color);
     a:hover {
      color: var(--primary-color);
     }
     a{
       padding: 0 10px;
       color: var(--main-text-color);
     }
  }.active{
    color: var(--primary-color);
   }
}
.right {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.img_box {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--bg-second);
  margin-bottom: 1rem;
  padding: .5rem;
}
.img_wraper {
    background: var(--bg-second);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.ant_carousel{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}
.aaa{
  position: relative;
  display: flex;
  width: 100%;
  height: 316px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
  }
  h2 , p{
    color: white;
  }
  div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
  }
  .img_mask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      span:nth-child(2){
        margin: 0 4px;
      }
    }
  }
}
.article_warper {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: white;
}
.ILwjOWV5UwcJFf9ezqGA0{
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.scroll_item {
  a {
    color: #f40a12;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s; 
    .main{
      background-color: var(--bg-second);
    }
  }
}
.item_header{
  display: flex;
  width: 100%;
  height: 40px;
  background-color: var(--bg-second);
  color: #000;
  align-items: center;
  color: var(--main-text-color);
}
.scroll_item:hover{
  .title{
    color: var( --primary-color);
  }
}
.scroll_item .title {
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sticky {
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

.tag{
    border-radius: var(--border-radius);
    margin-bottom: 1.3rem;
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    line-height: 1.29;
    margin-top: 20px;
}

.tag_title{
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-text-color);
  font-weight: 700;
}
.tag_list{
  padding: 1rem;
}
.tag_list li{
  display: inline-block;
  padding: 2px 7px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0 7px 7px 0;
  color: var(--second-text-color);
  line-height: 1.5em;
  transition: all .2s ease-in-out;
}

.tag_list li:hover{
  border: 1px solid var(--primary-color); 
  color: var(--primary-color);
}

