.msgboard_banner{
    width: 100%;
    
    .msgboard_banner_padding{
        width: 100%;
        margin: 0 auto;
        .msgboard_banner_title{
            text-align: center;
            margin: 10px 0;
            margin-bottom: 20px;
            color: var(--main-text-color);
        }
       
       
        .msgboard_banner_comment{
            margin-top: 10px;
            width: 100%;
            .msgboard_banner_comment_item{
                background-color:var(--bg-second);
                margin-top:10px;
                margin-top:10px 0;
            }
            .msgboard_banner_comment_item_comment{
                padding-top:10px;
                padding-bottom: 20px;
                ;
                .msgboard_banner_comment_title{
                    width: 95%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    .msgboard_banner_comment_item_two_icon{
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        text-align:center;
                        line-height: 30px;
                        color: #fff;
                        margin-right: 10px;
                        border-radius: 50%;
                        font-weight: 600;
                        font-size: 16px;
                    }
                    span{
                        color:var(--main-text-color);
                    }
                }
                .msgboard_banner_comment_main{
                    width: 85%;
                    margin:0 auto;    
                    color: var(--main-text-color);
                    p{
                        font-size: 14px;
                    
                        img{
                            // width: 100%;
                            height: 300px;
                        }
                    }
                    .msgboard_banner_comment_main_content{
                        color: #ccc;
                        margin: 10px 0;
                        .msgboard_banner_comment_main_content_icon{
                            margin-left: 10px;
                            user-select: none;
                            svg{
                                margin-right: 3px;
                                margin-bottom:-1px;    
                            }
                        }
                        .msgboard_banner_comment_main_content_icon:hover{
                            color: red;
                           cursor: pointer;
                        }
                    }
                }
                
            }
        }
        .msgboard_banner_comment_item_comment_two{
            padding-bottom: 20px;
            margin-left: 38px;
            margin-top: -10px;
            .msgboard_banner_comment_title_two{
                width: 95%;
                margin: 0 auto;
                margin-bottom: 10px;
                color: var(--main-text-color);
                .msgboard_banner_comment_item_two_icon{
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    text-align:center;
                    line-height: 30px;
                    color: #fff;
                    margin-right: 10px;
                    border-radius: 50%;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            .msgboard_banner_comment_main_two{
                width: 85%;
                margin:0 auto;    
                p{
                    font-size: 14px;
                    
                }
                .msgboard_banner_comment_main_two_content{
                    margin: 15px 0;
                    color: var(--main-text-color);
                }
                .msgboard_banner_comment_main_content_two{
                    color: #ccc;
                    .msgboard_banner_comment_main_content_icon_two{
                        margin-left: 10px;
                        svg{
                            margin-right: 3px;
                            margin-bottom:-1px;                
                        }
                    }
                    .msgboard_banner_comment_main_content_icon_two:hover{
                        color: red;
                       
                    }
                }
            }
            
        }
        .msgboard_banner_comment_page{
            background-color: var(--bg-second);
            height: 58px;
            display: flex;
            justify-content:center;
            align-items: center;
        }   
    }
}

li:hover{
    .msgboard_list_data_title h3{
        color: red;
    }
}

//输
.msgboard_banner_inp{
    text-align: center;
    background-color: var(--bg-second);
    textarea{
        padding-left: 10px;
        outline: none;
        border: 1px solid  var(--comment-editor-border-color);
        background-color:var(--bg-second);
        width: 95%;
        height: 142px;
        margin: 10px 0;
        height: 162px; 
        min-height: 142px; 
        max-height: 274px; 
        overflow-y: hidden;
        color: var(--main-text-color);
         resize: none;
    }
       footer :hover{
        span{
               color: red;  
               cursor: pointer;
           } 
       }
    footer{
        height: 40px;
        display: flex;
        margin-top: -10px;
        justify-content: space-between;
        align-items:center;
        padding-bottom: 10px;
        padding:20px 0;
      
        p{ 
            margin-left: 20px;
            display: flex;
            align-items: center;
           user-select: none;

            span{
                color:#aaa;
                svg{
                    margin-top: 5px;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    color: #aaa;
                    display: inline-block;

                }
            }
        }
        button{
            height: 30px;
            width: 60px;
            margin-right: 20px;
            border:1px solid #ccc;
            border-radius: 3px;
        }
    }
}








.msgboard_list_data_item_bottomTWo{
border-bottom: 1px solid #ccc; 

ul{
    display:flex;
    padding-bottom: 10px;
    li{
                        
        // margin-left:10px;
        svg{
            margin-bottom: -2px;
            margin-right: 1px;
        }
        
        margin:0 20px;
        margin-left: -0px;
    }

}
}


.login{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 899999999999999999999999999999999999999999999;
height: 100%;
background-color:rgba(0,0,0,.4);
.login_content{
    // margin: 0 auto;
    text-align: center;
    z-index: 999899999999999999999999;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 500px;
    height: 220px;
    background-color: var(--bg-second);
    border:1px solid #ccc;
    .login_content_title{
        display:flex;
        // text-align: left;
        justify-content: space-between;
        line-height: 50px;
        border-bottom: 1px solid #ccc;
        padding-left: 20px;            
        p{
            margin:0 30px;
            font-size: 20px;
        }
    }
    .login_content_inp{
        margin-top: 15px;
        width: 100%;
        span{
            display: inline-block;
            width: 10%;
            margin:0 5px;                
        }
        input{
            width: 75%;
            margin:0 5px;
            height: 30px;
            outline:none;
            border: 1px solid #ccc;
        }
        input:hover{
            border: 1px solid red;
        }
        p:last-child{
            text-align: right;
            button{
                width: 64px;
                height: 32px;
                border: 1px solid #ccc;    
                background-color:var(--bg-second);
                margin:0 10px;
            }
            button:last-child{
                background-color: red;
                color: #fff;
                margin-right: 30px;
            
            }
        }
    }
}
}
.msgboard{
    margin: left; 
    margin: right;
}  
@media (max-width: 765px){
    .msgboard{
        .msgboard_top{
            width: 95%;
            img{
                width: 95%;
            }
        }
        .msgboard_top_width{
            width: 95%;
        }
        .msgboard_banner{
            width:95%;
        }
    }  
   
}


.msgboard_banner_inp_hidden{
    opacity: 0;
    height:0px;
    overflow: hidden;
}
.msgboard_banner_comment_mask{
    opacity: 1;
    height:100% ;
    
}




.emojis{
    position: relative;
    opacity: 1;
    height:100%;
    ul{
        position: absolute;
        left: 20px;
        top: -10px;
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        background-color: #fff;
        padding:20px;
        z-index: 999;
        box-shadow: 10px 10px 10px #000;
        font-size: 20px;
        height: 300px;
        overflow-y: auto;
        li{
            padding:5px;
            flex: 8%;
            select:none;
            cursor: pointer;
        }
    }
}
.emojis_hide{
    opacity: 0;
    height:0px;
    overflow: hidden;
}