.SId{
    min-height: 100vh;
    background: var(--bg-body);
}
@media (min-width: 768px){
    .container {
        width: 768px;
    }
}
.container{
    margin-right: auto;
    margin-left: auto;
}
._3tC3y9W6nEYVdAwGypNta9{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
// section
._3tC3y9W6nEYVdAwGypNta9>._1r_Dp71aY9wU_PZOrRyGzl{
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
._2GvneS9joInoiS8u5XXv{
    margin-bottom: 16px;
}
.ant-breadcrumb{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    color: rgba(0,0,0,.85);
    font-size: 14px;
}
._2GvneS9joInoiS8u5XXv span{
    color: var(--second-text-color)!important;
}
.ant-breadcrumb a{
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
a{
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    cursor: pointer;
}
.antbreadcrumbseparator{
    margin: 0 8px;
}
.antbreadcrumbseparators{
    display: none;
}
._3kQ1Vl_751MJWlFiA4mkIJ article{
    padding: 1rem;
    background: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
._3kQ1Vl_751MJWlFiA4mkIJ article ._1sHvTwlFk1qI5GYNQQYAOA{
    text-align: center;
}
._1gyFGCKvmuw_FCv8gpxCM{
    color: inherit;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
}
._3kL5VVYs3ZqoG6F75pb9FZ{
    margin-bottom: 1.2em;
    color: inherit;
    font-style: italic;
    text-align: center;
}
.markdown{
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
    letter-spacing: 1.2px;
    color: var(--main-text-color);
}
.markdown h2{
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #ececec;
}
.WsHfV3fGKFel9niUnWSq3{
    color: #655e5e;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 21px;
}
._32zoHrkPFOCJ0FoSxx3WN{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.07);
    padding: 20px 0;
    margin-top: 20px;
}
._1tv35f3f10IbnKHej4MDB{
    width: 100%;
    text-align: right;
    position: relative;
    padding: 8px;
    border-radius: var(--border-radius);
    background: var(--bg-second);
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
._1tv35f3f10IbnKHej4MDB a{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
._1tv35f3f10IbnKHej4MDB a span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 30px);
}
.anciton{
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.anticon svg{
    display: inline-block;
}
._3CYEcDufMKzdQRUqbAurx3>._1gyFGCKvmuw_FCv8gpxCM{
    margin: 1rem 0;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .06em;
}
._13J4GEYHDRu5MejyviLpnU{
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    padding: 16px;
}
.TaXtx7NU2ZhkaBRHq09o{
    position: relative;
}
.TaXtx7NU2ZhkaBRHq09o textarea{
    width: 100%;
    height: 142px;
    min-height: 142px;
    max-height: 274px;
    overflow-y: hidden;
    resize: none;
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--bg-second);
    box-shadow: none!important;
}
.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}
.ant-input{
    max-width: 100%;
    line-height: 1.5715;
    vertical-align: bottom;
    transition: all .3s,height 0s;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    font-size: 14px;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    overflow: auto;
    font-family: inherit;
    touch-action: manipulation;
    -webkit-appearance: none;
}
.N1BwmgIkZZbNoeNN_FRbs>footer{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.N1BwmgIkZZbNoeNN_FRbs>footer ._12avHmKjidVRHTuf5Qbd4K{
    display: flex;
    align-items: center;
    color: var(--disable-text-color);
    cursor: pointer;
}
svg:not(:root) {
    overflow: hidden;
}
._12avHmKjidVRHTuf5Qbd4K>span{
    margin-left: 4px;
    transform: translateY(1px);
}
.ant-btn{
    border-color: var(--comment-editor-border-color);
    color: var(--main-text-color);
    background-color: var(--comment-editor-disable-bg);
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    -webkit-appearance: button;
    outline: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    margin: 0;
}
.ant-btn>span {
    display: inline-block;
}
// aside
._3tC3y9W6nEYVdAwGypNta9>._3yp3HpYTQik_UvNquTL2uQ{
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sticky{
    margin-top: 37px;
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
}
._24iEkzEiSdi7FORkH9_wX{
    background: var(--bg-second);
    padding: .8rem;
    border-radius: var(--border-radius);
}
._24iEkzEiSdi7FORkH9_wX>header{
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
}
._24iEkzEiSdi7FORkH9_wX>main{
    max-height: 200px;
    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
}
._24iEkzEiSdi7FORkH9_wX>main ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        border-radius: var(--border-radius);
    }
}
._24iEkzEiSdi7FORkH9_wX>main>ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
    padding-right: 16px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
._24iEkzEiSdi7FORkH9_wX>main>ul li a:hover{
    color: red;
}