.xg_Uj0Bv758wYxH8pUyB{
    position: relative;
    height: 100%;
}
.IdBack{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: -1;
    width: 100%;
    height: 100%;
    background-position-x: 50%;
    background-position-y: 17%;
    opacity: .2;
    background-size: cover;
    filter: blur(20px);
    background-image: linear-gradient(#531010, #9198e5);
}
.container{
    width: 768px;
    margin-right: auto;
    margin-left: auto;
}
.IdOsl{
    position: relative;
    z-index: 2;
    padding-top: 1rem;
}
.ant-breadcrumb{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    color: rgba(0,0,0,.85);
    font-size: 14px;
}
.IdOsl span{
    color: rgba(0,0,0,0.65)!important;
    margin: 0 8px;
}
.IdOsl span a{
    // transition: color .3s;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.IdMain{
    min-height: 0px;
    background: none;
}
._3tC3y9W6nEYVdAwGypNta9{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
._1r_Dp71aY9wU_PZOrRyGzl{
    flex: 1;
    width: 100%;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
._2UTUWlplOlKdNijjElaV1p{
    width: 100%;
    position: relative;
    z-index: 2;
}
._3TXwBqbIYTFMKAc3SRF0Pr {
    // width: 432px;
    width: 100%;
    // height: 484px;
    height: 100%;
}
._3TXwBqbIYTFMKAc3SRF0Pr header{
    color: rgba(0,0,0,0.85);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
._3TXwBqbIYTFMKAc3SRF0Pr>main.QiGjUNedfkQdkJgVr40al{
    // width: 432px;
    width: 100%;
    // height: 520px;
    background-color: #fff;
    padding: .8rem;
    box-shadow:  0 1px 3px rgb(18 18 18/10%);
    border-radius: 2px;
    margin-top: 1rem;
}
._2KiElqNlNiOb400crvLXp_{
    position: relative;
    z-index: 2;
    text-align: center;

}
._3UiAcfZHhE3n0ISBQ26csd{
    width: 100%;
    border-radius: 2px;
    margin: 1rem auto;
    overflow: hidden;
}
._3UiAcfZHhE3n0ISBQ26csd img{
    width: 778px;
    // height: 133px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    object-fit: cover;
}
._2KiElqNlNiOb400crvLXp_{
    width: 100%;

}
._2KiElqNlNiOb400crvLXp_ ._2Anl2UOlqXVqpsRdBHbjee{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
._2KiElqNlNiOb400crvLXp_ ._2Anl2UOlqXVqpsRdBHbjee ._38mtgKp3kF0sl0CPqcXCr{
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._2KiElqNlNiOb400crvLXp_ ._2Anl2UOlqXVqpsRdBHbjee ._2KiElqNlNiOb400crvLXp_{
    display: -webkit-box;
    max-width: 100%;
    margin-top: .8rem;
    color: rgba(0,0,0,0.65);
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
._2KiElqNlNiOb400crvLXp_ ._2Anl2UOlqXVqpsRdBHbjee ._2OCK4h4MhPhfi5hXsERjF6{
    width: 100%;
    margin-top: .4rem;
    color: #8590a6;
    font-size: 14px;
    line-height: 20px;
}
._2KiElqNlNiOb400crvLXp_ ._2Anl2UOlqXVqpsRdBHbjee ._2OCK4h4MhPhfi5hXsERjF6 ._3f9UlP3M9sZwYvdDunr6v{
    margin: 0 4px;
}
.ga5BV4q_7gSHbHryBWfx{
    margin-top: .8rem;
}
.antbtnprimary{
    -webkit-appearance: button;
    color: #fff;
    background: #f40a12;
    border-color: #f40a12;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    outline: 0;
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}
.antbtnprimary span{
    display: inline-block;
}
._3TXwBqbIYTFMKAc3SRF0Pr>main ul{
    margin-top: 2rem;
}
._3TXwBqbIYTFMKAc3SRF0Pr>main ul li{
    opacity: 1;
    height: 44px;
    border-radius: 2px;
}
._3TXwBqbIYTFMKAc3SRF0Pr>main ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
    padding-right: 16px;
    color: rgba(0,0,0,0.85);
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.ret2{
    opacity: 0;
}
._3TXwBqbIYTFMKAc3SRF0Pr>main ul li a:hover{
    color: red;
    .ret2{
        opacity: 1;
    }
}
.anciton{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.anciton svg{
    display: inline-block;
}
svg:not(:root) {
    overflow: hidden;
}
._3yp3HpYTQik_UvNquTL2uQ{
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sticky_3TXwBqbIYTFMKAc3SRF0Pr{
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
}
.sticky_3TXwBqbIYTFMKAc3SRF0Pr>header{
    color: rgba(0,0,0,0.85);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.sticky_3TXwBqbIYTFMKAc3SRF0Pr>main{
    margin-top: 1rem;
}
._3dE21Z8kljGaURCu52HoH{
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(18 18 18/10%);
}
.XifRPckEIhRii13RLWBw{
    position: relative;
}
.XifRPckEIhRii13RLWBw::after{
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 100%;
    height: 1px;
    background: var(--border-color);
}
.ereruioe{
    opacity: 1;
}
.ereruioe a{
    color: inherit;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.XifRPckEIhRii13RLWBw header{
    display: flex;
    align-items: center;
}
.XifRPckEIhRii13RLWBw .qwedsr12{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
    margin-top: 15px;
    background: #fff;
}
._1vA_Or4uXSUk_Q0pAjXNAk{
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.antdividervertical{
    position: relative;
    top: -.06em;
    display: inline-block;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid rgba(0,0,0,.06);
}
._37XZHWLrCzFDEOzkwvIHD{
    color: #8590a6;
}
._2Cv_sMdeyVvYq6XC91OAQX{
    position: relative;
    flex: 0 0 auto;
    width: 190px;
    max-height: 150px;
    min-height: 100px;
    border-radius: 2px;
    margin-right: 1rem;
    overflow: hidden;
}
._2Cv_sMdeyVvYq6XC91OAQX img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate3d(-50%,-50%,0);
    object-fit: cover;
}
._1RUkQHMUEKR84DQvX4ZPGy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.uzxZQqwvdEFwe6mgNPeYD{
    display: -webkit-box;
    max-width: 100%;
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
._25WsQK_Q67xXsuDTBYLqO{
    width: 100%;
    color: #8590a6;
    font-size: 14px;
    line-height: 20px;
    margin-top: .8rem;
}
.MxfDTpSSoWKL3RwXzbvFj{
    margin-left: 6px;
    color: rgba(0,0,0,0.65);
}
.aAj27t_TOL5PyHxn0uc08{
    margin: 0 8px;
}
.MxfDTpSSoWKL3RwXzbvFj{
    margin-left: 6px;
    color: rgba(0,0,0,0.65);
}