:global{
  .showSpin{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
*{
  transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out,
    opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
    margin: 0;padding: 0;list-style: none
}
*,:after, :before {
  box-sizing: border-box;
}
.layout {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-body);
  flex-direction: column;
}
.layout {

  main{
    background-color:var(--bg-body);
    min-height: calc(100% - 64px);
  }
  .header {
    display: flex;
    background-color: white;
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
    line-height: 64px;
    .layout_header{
      position: relative;
      z-index: 100;
      width: 100vw;
      height: 64px;
      background-color: var(--bg);
      border-bottom: 1px solid var(--border-color);
      .container{
        position: relative;
        display: flex;
      }
      .log_box{
        height: 64px;
        margin-right: 4rem;
        color: var(--main-text-color);
        line-height: 64px;
        text-align: left;
        img{
          display: inline-block;
          height: 36px;
        }
      }
    }
    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--main-text-color);
      font-size: 16px;
      height: 100%;
      }
    .headerNav{
      position: relative;
      width: 100%;
      display: flex;
      li {
        padding: 0px 20px;
        vertical-align: middle;
        line-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        a,
        a:hover {
          color: red;
        }
        a {
          text-decoration: none;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          transition: color 0.3s;
          color: var(--main-text-color);
        }
      }
      .func_li{
        padding: 0px 5px;
      }
  }
}
  @media screen and(max-width:770px) {
    .header {
      position: relative;
      width: 100%;
      height: 64px;
      transition: all 0.3s ease-in-out;
      line-height: 64px;
      .headerNav{
        display: none;
      }
      .headerNav2 {
        position: absolute;
        top: 100%;
        width: 100vw;
        font-size: 16px;
        color: var(--main-text-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-second);
        padding-bottom: 20px;
        left: -1px;
        li {
          flex: 1;
          display: inline-flex;
          vertical-align: middle;
          display: flex;
          justify-content: center;
          align-items: center;
          a,
          a:hover {
            color: red;
          }
          a {
            text-decoration: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: color 0.3s;
            color: var(--main-text-color);
          }
        }
        .func_li{
            padding: 10px 0;
        }
        .func_lang{
          padding-left: 30px;
        }
        .search{
          margin-top: 12px;
        }
      }
    }
  }
  .footer {
    padding: 20px 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
    color: #c1bdbd;
    background: var(--bg-footer);
    text-align: center;
    box-sizing: border-box;
    .text{
      font-size: 10px;
      line-height: 15px;
    }
  }
}
.foot_list{
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 8px 0 16px;
    li{
      margin: 0 3px;
    }
}
.showSpin{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mobileNav{
  position: absolute;
  top: 20px;
  right: 15px;
  span{
      display: block;
      width: 25px;
      height: 4px;
      border-radius: var(--border-radius);
      background-color: var(--primary-color);
      opacity: 1;
      transition: all 250ms ease-in-out 0s;
  }
  span:nth-child(2){
      margin: 5px 0;
  }
}
.mobileNav.active{
  span:nth-child(2){
      opacity: 0;
  }
  span:nth-child(1){
      transform: translateY(9px) rotate(45deg);
  }
  span:nth-child(3){
      transform: translateY(-9px) rotate(-45deg);
  }
}

.func_lang{
  margin-left: 365px;
}
@media screen and(max-width:1200px){
  .func_lang{
    margin-left: 100px;
  }
  .headerNav li{
    padding: 0 20px !important;
  }
}
@media screen and(max-width:995px){
  .func_lang{
    margin-left: 100px;
  }
  .headerNav li{
    padding: 0 8px !important;
  }
}

.container1{
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px){
  .container1 {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
  } 
}
.dialog{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
    background: var(--bg);
    overflow: auto;
    color: var(--main-text-color);
}
.dialog .container1{
  display: flex;
  flex-direction: column;
}
.dialog header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .title{
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
    }
    .close{
      display: flex;
      flex-direction: column;
      color: var(--disable-text-color);
      cursor: pointer;
      font-size: 22px;
      span:first-child{
        position: relative;
        top: 12px;
      }
    }
}
.dialog .search_box{
  width: 100%;
  margin-top: -4rem;
  ul{
    width: 100%;
    li:hover{
      background-color: var(--bg-body);
    }
  }
}
.dialog .search{
  width: 100%;
}
.dialog .search_box ul li{
    width: 100%;
   line-height: 48px;
   font-size: 18px;
   cursor: pointer;
}