.article_detail_Like_c {
  position: fixed;
  z-index: 10;
  top: 30vh;
  transform: translateX(-100%);
  padding-right: 10px;
}
.article_detail_Like_main {
  display: flex;
  justify-content: center;
  align-items: center;
  .article_detail_Like_box:hover {
    color: var(--primary-color);
  }
  .like {
    color: var(--primary-color);
    position: relative;
  }
}
.article_detail_Like_box {
  width: 32px;
  height: 32px;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-second);
  color: var(--disable-text-color);
}
.ant-badge {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  line-height: 1;
}
.likenum {
  position: absolute;
  left: 58%;
  top: -30%;
  padding: 2px 10px;
  font-size: 12px;
  background:  var(--primary-color);
  border-radius: 8px;
  z-index: 999999;
  color: #fff;
}
@media (max-width: 1024px) {
  .article_detail_Like_c>.article_detail_Like_main {
      top:100%;
      bottom: 0;
      padding-right: 0;
      width: 100vw;
      height: 52px;
      height: calc(52px + constant(safe-area-inset-bottom));
      height: calc(52px + env(safe-area-inset-bottom));
      background-color: var(--bg-second);
      border-top: 1px solid var(--border-color);
      transform: translate(0);
      transition: all .2s;
      display: flex;
      flex-wrap: nowrap
  }

  .article_detail_Like_c>.article_detail_Like_main._2o4PbypFMQi6hxwwPwV5nz {
      transform: translateY(-100%)
  }

  .article_detail_Like_c>.article_detail_Like_main .article_detail_Like_main {
      flex: 1
  }

  .article_detail_Like_c>.article_detail_Like_main .article_detail_Like_main+.article_detail_Like_main {
      margin-top: 0
  }
}

@media (min-width: 1025px) {
  .article_detail_Like_c {
      margin-left:-930px
  }
}

@media (min-width: 1200px) {
  .article_detail_Like_c {
      margin-left:-1120px
  }
}

@media (min-width: 1440px) {
  .article_detail_Like_c {
      margin-left:-1140px
  }
}

.article_detail_Like_c>.article_detail_Like_main {
  flex: 1;
  width: calc(100% - 20rem - 1rem);
  padding-top: 1rem;
  padding-bottom: 1rem
}

.article_detail_Like_c>._3yp3HpYTQik_UvNquTL2uQ {
  width: 20rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem
}

@media (max-width: 768px) {
  .article_detail_Like_c,.article_detail_Like_c>._3yp3HpYTQik_UvNquTL2uQ {
      width:100%
  }

  .article_detail_Like_c>._1r_Dp71aY9wU_PZOrRyGzl {
      padding-bottom: 1rem
  }

  .article_detail_Like_c>._3yp3HpYTQik_UvNquTL2uQ {
      margin-left: 0
  }

  .article_detail_Like_c>._3yp3HpYTQik_UvNquTL2uQ._2dyoSl4ynuBmhwRO6bebOZ {
      width: 0;
      display: none
  }
}