*{margin: 0;padding: 0;list-style: none;}
.msgboard{
    // text-align: center;
    width: 100%;
    margin:0 auto;
    overflow: hidden;
    .msgboard_box{
        width: 768px;
        margin: 0 auto;
    }
    .msgboard_padding_top_title{
        width: 100%;
        overflow: hidden;
        background-color: var(--bg);
        margin-left: -25%;
    }
    .msgboard_padding{
        width: 200%;
        margin:0 auto;
    }
    .msgboard_top_width{
        width: 100%;
        background-color: var(--bg);
        overflow: hidden;
        margin-left: -25%;
    }
    .msgboard_top{
        width: 72%;
        text-align: center;
        padding-bottom: 10px;   
        margin: 0 auto;
        background-color:var(--bg);
        border-bottom: 1px solid #ccc;
        h3{
            font-size: 14px;
            font-weight: 700;   
            color:var(--main-text-color);
            padding-bottom:20px;
        }
        img{
            width: 70%;
        }
        h2{
            text-align:center;
            padding-top:20px;
            width: 100%;
            line-height: 40px;
            font-size: 22px;
            color:var(--main-text-color);
        }
    }
    .msgboard_banner{
        width: 100%;

        .msgboard_banner_padding{
            width: 100%;
            // width: 752px;
            margin: 0 auto;
            .msgboard_banner_title{
                text-align: center;
                margin: 10px 0;
                margin-bottom: 20px;
            }
           
            .msgboard_banner_inp{
                text-align: center;
                background-color: #fff;
                textarea{
                    padding-left: 10px;
                    outline: none;
                    border: 1px solid #ccc;
                    width: 95%;
                    height: 142px;
                    margin: 10px 0;
                    height: 162px; 
                    // min-height: 142px; 
                    // max-height: 274px; 
                    overflow-y: hidden;
                     resize: none;
                }
                   footer :hover{
                    span{
                           color: red;  
                           cursor: pointer;
                       } 
                   }
                footer{
                    height: 40px;
                    display: flex;
                    margin-top: -10px;
                    justify-content: space-between;
                    align-items:center;
                    padding-bottom: 10px;
                    padding:20px 0;
                  
                    p{ 
                        margin-left: 20px;
                        display: flex;
                        align-items: center;
                       user-select: none;

                        span{
                            color:#aaa;
                            svg{
                                margin-top: 5px;
                                width: 18px;
                                height: 18px;
                                margin-right: 5px;
                                color: #aaa;
                                display: inline-block;

                            }
                        }
                    }
                    button{
                        height: 30px;
                        width: 60px;
                        margin-right: 20px;
                        border:1px solid #ccc;
                        border-radius: 3px;
                    }
                }
            }
            .msgboard_banner_comment{
                margin-top: 10px;
                width: 100%;
                .msgboard_banner_comment_item{
                    background-color: #fff;
                    margin-top:10px;
                    margin-top:10px 0;
                }
                .msgboard_banner_comment_item_comment{
                    padding-top:10px;
                    padding-bottom: 20px;
                    ;
                    .msgboard_banner_comment_title{
                        width: 95%;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        .msgboard_banner_comment_item_two_icon{
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            text-align:center;
                            line-height: 30px;
                            color: #fff;
                            margin-right: 10px;
                            border-radius: 50%;
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                    .msgboard_banner_comment_main{
                        width: 85%;
                        margin:0 auto;    
                        p{
                            font-size: 14px;
                        
                            img{
                                // width: 100%;
                                height: 300px;
                            }
                        }
                        .msgboard_banner_comment_main_content{
                            color: #ccc;
                            margin: 10px 0;
                            .msgboard_banner_comment_main_content_icon{
                                margin-left: 10px;
                                
                                svg{
                                    margin-right: 3px;
                                    margin-bottom:-1px;    
                                }
                            }
                            .msgboard_banner_comment_main_content_icon:hover{
                                color: red;
                               cursor: pointer;
                            }
                        }
                    }
                    
                }
            }
            .msgboard_banner_comment_item_comment_two{
                padding-bottom: 20px;
                margin-left: 38px;
                margin-top: -10px;
                .msgboard_banner_comment_title_two{
                    width: 95%;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    .msgboard_banner_comment_item_two_icon{
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        text-align:center;
                        line-height: 30px;
                        color: #fff;
                        margin-right: 10px;
                        border-radius: 50%;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                .msgboard_banner_comment_main_two{
                    width: 85%;
                    margin:0 auto;    
                    p{
                        font-size: 14px;
                        
                    }
                    .msgboard_banner_comment_main_two_content{
                        margin: 15px 0;
                    }
                    .msgboard_banner_comment_main_content_two{
                        color: #ccc;
                        .msgboard_banner_comment_main_content_icon_two{
                            margin-left: 10px;
                            svg{
                                margin-right: 3px;
                                margin-bottom:-1px;                
                            }
                        }
                        .msgboard_banner_comment_main_content_icon_two:hover{
                            color: red;
                           
                        }
                    }
                }
                
            }
            .msgboard_banner_comment_page{
                background-color: var(--bg-second);
                height: 58px;
                display: flex;
                justify-content:center;
                align-items: center;
            }   
        }
    }
    li:hover{
        .msgboard_list_data_title h3{
            color: red;
        }
    }
    .msgboard_list{
        width: 100%;
        margin:0 auto;
        background-color: var(--bg-second);
        color: var(--main-text-color);
        padding-bottom: 50px;
        .msgboard_list_title{
            padding: 30px 0;
            font-size: 16px;
            text-align: center;
            color: var(--background-text-color);
            background-color: var(--bg-body);
        }
        .msgboard_list_data{
            width: 95%;
            margin:0 auto;
        color: var(--main-text-color);
        }
        

        .msgboard_list_data_title{
            color: var(--main-text-color);
            
            display: flex;
            line-height: 50px;
            text-align: center;
            h3{
                color: var(--main-text-color);
                margin-right: 10px;
                font-weight: 700;
                font-size: 16px;
            }
            span{
                line-height: 15px;
                margin-top: 20px;
                color:#ccc; 
                height: 15px;
                border-left: 1px solid #ccc;
                display: flex;
                padding:0 10px;
            }
            p{
                border-left: 1px solid #ccc;
                margin-top: 20px;
                padding-left: 10px;
                height: 15px;
                line-height: 15px;
                color:#ccc;
            }
        }
      
        .msgboard_list_data_item{
            border-bottom: 1px solid #ccc; 
            color: var(--main-text-color);

            position: relative;
            display: flex;
            padding: 10px 0;
            dt{
                height: 120px;
                overflow: hidden;
                margin:0 10px;
                img{
                    height:120px;
                    position: absolute;
                    width: 200px;
                    top: 50%;
                    left:15%;
                    transform: translate3d(-50%,-50%,0);
                    object-fit: cover;
                }
            }
            
            dd{
                position: relative;
                margin-left: 220px;
                color: var(--main-text-color);
                .msgboard_list_data_item_bottom{
                    .msgboard_list_data_item_bottom_icon{
                        position: absolute;
                        bottom:-10px;
                        display:flex;
                        li{
                            margin:0 15px;
                            margin-left: -0px;
                            svg{
                                margin-bottom: -2px;
                                margin-right: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.msgboard_list_data_item_bottomTWo{
    border-bottom: 1px solid #ccc; 

    ul{
        display:flex;
        padding-bottom: 10px;
        li{
                            
            // margin-left:10px;
            svg{
                margin-bottom: -2px;
                margin-right: 1px;
            }
            
            margin:0 20px;
            margin-left: -0px;
        }

    }
}




.login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 899999999999999999999999999999999999999999999;
    height: 100%;
    background-color:rgba(0,0,0,.4);
    .login_content{
        // margin: 0 auto;
        text-align: center;
        z-index: 999899999999999999999999;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform:translate(-50%,-50%);
        width: 500px;
        height: 220px;
        background-color: #fff;
        border:1px solid #ccc;
        .login_content_title{
            display:flex;
            // text-align: left;
            justify-content: space-between;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
            padding-left: 20px;            
            p{
                margin:0 30px;
                font-size: 20px;
            }
        }
        .login_content_inp{
            margin-top: 15px;
            width: 100%;
            span{
                display: inline-block;
                width: 10%;
                margin:0 5px;                
            }
            input{
                width: 75%;
                margin:0 5px;
                height: 30px;
                outline:none;
                border: 1px solid #ccc;
            }
            input:hover{
                border: 1px solid red;
            }
            p:last-child{
                text-align: right;
                button{
                    width: 64px;
                    height: 32px;
                    border: 1px solid #ccc;    
                    background-color:#fff;
                    margin:0 10px;
                }
                button:last-child{
                    background-color: red;
                    color: #fff;
                    margin-right: 30px;
                
                }
            }
        }
    }
}
.msgboard{
    margin: left; 
    margin: right;
}  
@media (max-width: 657px){
    .msgboard{
        width:95%; 
        .msgboard_banner{
            width:95%;
        }
    }  
    .msgboard_list{
        img{
            width: 90%;
            
        }
    }
 
   
}
@media (max-width: 765px){
    .msgboard{
        
        .msgboard_top_width{
            width: 95%;

         
        }
        .msgboard_box{
            width: 95%;
            .msgboard_top{
                img{
                    width: 60%;
                }
            }
        }
        .msgboard_banner{
            width:95%;
        }
    }  
   
}