
.sticky {
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}
  .recomment_list {
    margin-bottom: 1.3rem;
    line-height: 1.29;
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);

    .recomment_title {
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
      color: var(--main-text-color);
      font-weight: 700;
    }
    .recomment_content {
        position: relative;
    }
    .recomment_container {
        position: relative;
        transition: opacity .3s;
        &>::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            display: none\9;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0;
            transition: all .3s;
            content: "";
            pointer-events: none;
        }
    }
    .recomment_container_ul {
        padding: 0 1rem 1rem;
        margin: 0;
        &> li {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 1rem;
            color: var(--second-text-color);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
    }
    .recomment_container_ul li:hover{
        color: var(--primary-color);
    }
  }
  .archives_classify {
    border-radius: var(--border-radius);
    margin-bottom: 1.3rem;
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    line-height: 1.29;
    overflow: hidden;
    .archivers_title {
      padding: 1rem 1.3rem;
      border-bottom: 1px solid var(--border-color);
      color: var(--main-text-color);
      font-weight: 700;
    }
  &> ul {
    padding: 1rem;
    list-style: none;
    margin: 0;
    li {
      padding: 8px 7px;
      border-radius: var(--border-radius);
      color: var(--second-text-color);
      line-height: 1.5em;
      transition: all .2s ease-in-out;
      a {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }
      li:hover{
        a{
          color: var(--primary-color);
        }
      }
    }
  }
}
.archives_classify ul li:hover{
  color: var(--primary-color);
}
.cateLog {
  header {
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
  }
  main>div {
    position: relative;
    max-height: 50vh;
    padding: 0 10px;
    overflow: auto;
  }
  .cateLog_box {
    position: relative;
  }
  .cateLog_box::before {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      bottom: 0;
      width: 2px;
      background-color: var(--border-color);
      opacity: .5;
  }
  .toc_item {
    position: relative;
    z-index: 10;
    padding: 4px 0 4px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .toc_item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    width: 5px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .toc_item_level {
    position: relative;
    z-index: 10;
    padding: 4px 0 4px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .toc_item_level::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    background-color: currentColor;
    border-radius: 50%;
  }
  .toc_item:hover {
    color: var(--primary-color);
  }
  .toc_item_level:hover {
    color: var(--primary-color);
  } 
}
.toc_item_bg {
  background: rgba(255, 255, 255, .2);
  color: var(--primary-color);
}