.wraper{
    height: 100%;
    background: var(--bg-body);
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }
  }
  
  @media (min-width: 768px) {
    .container {
        width:768px
    }
  }
  
  @media (min-width: 992px) {
    .container {
        width:970px
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        width:1140px
    }
  }

.container {
    margin-right: auto;
    margin-left: auto;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*************************************************/
.section{
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.tagnum{
    padding: 16px 0;
    margin-bottom: 1rem;
    background: var(--bg-second);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--main-text-color);
     p:first-of-type {
        margin-top: .5rem;
    }
     p:first-of-type span{
        color: var(--primary-color);
        font-size: 1.5rem;
    }
    p:last-of-type span{
        color: var(--primary-color);
        font-size: 1.1rem;
    }
}
.tag_list{
    border-radius: var(--border-radius);
    margin-bottom: 1.3rem;
    background-color: var(--bg-second);
    box-shadow: var(--box-shadow);
    line-height: 1.29;
}
.title{
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--main-text-color);
    font-weight: 700;
}
.tag_list ul{
    padding: 1rem;
    li{
        display: inline-block;
        padding: 2px 7px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        margin: 0 7px 7px 0;
        color: var(--second-text-color);
        line-height: 1.5em;
        transition: all .2s ease-in-out;
        a{
            text-decoration: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: color .3s;
        }
    }
    li:hover {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        box-sizing: border-box;
    }
    li.active{
        border: 1px solid var(--primary-color);
        color: #fff;
        background-color: var(--primary-color);
        a{
            color: #fff !important;
        }
    }
}



/************************************************/
.aside{
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}