*{
    transition: background-color .2s ease-in-out,
    margin .2s ease-in-out,opacity .2s ease-in-out,
    filter .2s ease-in-out,visibility .2s ease-in-out,
    transform .2s ease-in-out,border-color .2s ease-in-out;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    color: rgba(0,0,0,0.85);
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    line-height: 1.75em;
    font-size: 14px;
    font-variant: tabular-nums;
}
html {
    text-size-adjust: 100%!important;
    --antd-wave-shadow-color: #f40a12;
    --scroll-bar: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: transparent;
    transition: all .2s;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
}
::selection {
    color: #fff;
    background: #f40a12;
}
.Knmain{
    min-height: calc(100% - 64px);
}
.main1{
    min-height: 100vh;
}
.index{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
section{
    padding-bottom: 1rem;
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
}
.aside{
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sticky{
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.knowledge{
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
    border-radius: 2px;;
    box-shadow: 0 1px 3px rgb(18 18 18/10%);
}
.knowledge .item{
    position: relative;
    border-bottom: solid 1px #F0F2F7;
    background: #fff;
    margin: 0 0 20px 0;
}
.knowledge a,a:hover{
    color: inherit;
    touch-action: manipulation;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
.knowledge .item .Knbox{
    opacity: 1;
}
.knowledge .item .Knbox .Knheader{
    display: flex;
    align-items: center;
}
.knowledge .item .Knbox .Knheader .gun{
    position: relative;
    top: -.06em;
    display: inline-block;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid rgba(0,0,0,.06);
}
.knowledge .item .Knbox .Knheader .tit{
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.knowledge .item .Knbox .Knheader .tit:hover{
    color: red;
}
.knowledge .item .Knbox .Knheader .cre{
    color: #8590a6;
}
.knowledge .item .Knbox .Knmain1{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
    background: #fff;
}
.knowledge .item .Knbox .Knmain1 .img{
    position: relative;
    flex: 0 0 auto;
    width: 190px;
    max-height: 150px;
    min-height: 100px;
    border-radius: 2px;;
    margin-right: 1rem;
    overflow: hidden;
}
.knowledge .item .Knbox .Knmain1 .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate3d(-50%,-50%,0);
    object-fit: cover;
}
.knowledge .item .Knbox .Knmain1 .bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.knowledge .item .Knbox .Knmain1 .bottom .sum{
    display: -webkit-box;
    max-width: 100%;
    color: rgba(0,0,0,0.85);
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.knowledge .item .Knbox .Knmain1 .bottom .span{
    width: 100%;
    color: #8590a6;
    font-size: 14px;
    line-height: 20px;
    margin-top: .8rem;
}
.knowledge .item .Knbox .Knmain1 .bottom .span .anticon{
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.knowledge .item .Knbox .Knmain1 .bottom .span .anticon svg{
    display: inline-block;
}
.knowledge .item .Knbox .Knmain1 .bottom .span .vi{
    margin-left: 6px;
    color: rgba(0,0,0,0.65);
}
.knowledge .item .Knbox .Knmain1 .bottom .span .point{
    margin: 0 8px;
}
.knowledge .item .Knbox .Knmain1 .bottom .span .share{
    margin-left: 6px;
    color: rgba(0,0,0,0.65);
}
@media screen and(max-width: 768px) {
    aside{
      display: none;
    }
  }