.archivers {
  width: 100%;
  height: 100%;
  background: var(--bg-body);
  display: flex;
  flex-direction: column;
}
a, a:hover {
  color: inherit;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .box_left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    .box_left_main {
      background-color: var(--bg-second);
      box-shadow: var(--box-shadow);
      .box_left_main_title {
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--bg-second);
        text-align: center;
        &>:first-of-type span{
          color: var(--primary-color);
          font-size: 1.5rem;
        }
        &> p {
          margin-bottom: 0;
        }
        &>p:last-of-type span{
          color: var(--primary-color);
          font-size: 1.1rem;
        }
      }
      .box_left_main_content {
        h2 {
          color: var(--main-text-color);
          font-size: 1.5rem;
        }
         h3 {
          color: var(--second-text-color);
        }
        padding: 1rem 1.3rem;
        .content_item {
          padding: .5rem 1rem;
          border-radius: 4px;
          ul {
            padding-left: 2.5rem;
            // padding: 0;
          }
          ul>li {
            position: relative;
            padding: .5rem 0;
            &>::after {
              position: absolute;
              top: 17px;
              left: -1rem;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              margin-left: -4px;
              background: var(--disable-text-color);
              content: " ";
            }
            &>:hover .content_item_title{
              color: red;
            }
            &>:hover .content_item_time{
              color: red;
            }
            &>a {
              display: inline-block;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
           
          }
          .content_item_title {
            color: var(--main-text-color);
            overflow: hidden;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.4;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
          }
          .content_item_time {
            padding-right: 1em;
            margin: 0;
            color: var(--second-text-color);
            // font-size: .8rem;
          }
        }
      }
    }
  }
  .box_right {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // background: #000;
  }
}
.box_left_main_title {
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-second);
  text-align: center;
  margin-bottom: 12px;
  &>:first-of-type span{
    color: var(--primary-color);
    font-size: 1.5rem;
  }
  &> p {
    margin-bottom: 0;
  }
  &>p:last-of-type span{
    color: var(--primary-color);
    font-size: 1.1rem;
  }
}
@media screen and(max-width: 768px) {
  .box_right{
    display: none;
  }
}