.tagdata{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    &>main>div>div{
        border-radius: 0 0 var(--border-radius) var(--border-radius)!important;
        box-shadow: none!important;
    }
}
.databox{
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    .item{
        position: relative;
        margin-bottom: 1.7rem;
    }
    .item{
        a:hover {
            color: inherit;
        }
        a{
            // color: #f40a12;
            text-decoration: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            transition: color .3s;
            -webkit-text-decoration-skip: objects;
        }
        &>div:after {
            content: "";
            position: absolute;
            bottom: -1rem;
            width: 100%;
            height: 1px;
            background: var(--border-color);
        }
    }
    
    header{
        display: flex;
        align-items: center;
        .hl{
            color: var(--main-text-color);
            overflow: hidden;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        span{
            color:#8590a6;;
        }
    }
    header:hover{
        .hl{
            color: var(--primary-color);
        }
    }
}
.databox main{
    background-color: var(--bg-second);
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
}
@media (max-width:658px){
    .databox header{
        flex-direction: column;
        align-items: flex-start;
        .hr{
            font-size: .8em;
            div{
                display: none;
            }
        }
    }
    .databox main{
        background-color: var(--bg-second);
        display: flex;
        flex-wrap: wrap;
    }
    .databox main .ml{
        width: 100% !important;
        max-width: 100% !important;
        min-height: 160px !important;
        margin-right: 0 !important;
        margin-bottom: 1rem !important;
    }
}   
.databox main .ml{
    position: relative;
    flex: 0 0 auto;
    width: 190px;
    max-height: 150px;
    min-height: 100px;
    border-radius: var(--border-radius);
    margin-right: 1rem;
    overflow: hidden;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate3d(-50%,-50%,0);
        object-fit: cover;
    }
}
.databox main .mr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mr_des{
        display: -webkit-box;
        max-width: 100%;
        color: var(--main-text-color);
        overflow: hidden;
        font-size: 14px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .mr_func{
        width: 100%;
        color: #8590a6;
        font-size: 14px;
        line-height: 20px;
        margin-top: .8rem;
        & > span{
            margin-right: 12px;
        }
    }
    .mr_func .mr_func_D{
        width: 100%;
        color: #8590a6;
        font-size: 14px;
        line-height: 20px;
        margin-top: .8rem;
    }
    .mr_func .mr_func_like{
        width: 100%;
        color: #8590a6;
        font-size: 14px;
        line-height: 20px;
        margin-top: .8rem;
    }
}