@import './components/HeightLight/markdown.less';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: #333;
  font-weight: 500;
}
.active {
  color: var(--primary-color) !important;
}
#root,body,html,.layout___SuieI{
  width: 100%; 
  height: 100%;
}
body {
  --primary-color: #ff0064;
  --sun-color: #eec413;
  --link-color: #4299e1;
  --border-radius: 2px;
  --bg: #fff;
  --bg-second: #fff;
  --rgb-bg-second: 255, 255, 255;
  --bg-body: #e7eaee;
  --bg-footer: #292525;
  --bg-code: #f8f8f8;
  --blockquote-color: #fff;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --second-text-color: rgba(0, 0, 0, 0.65);
  --disable-text-color: rgba(0, 0, 0, 0.35);
  --border-color: #f0f2f7;
  --box-shadow: 0 1px 3px rgb(18 18 18/10%);
  --scrollbar-bg: #dadada;
  --comment-editor-border-color: #d9d9d9;
  --comment-editor-disable-bg: #f5f5f5;
}

body.dark {
  --sun-color: #e684af;
  --bg: #282c35;
  --bg-second: #363c48;
  --rgb-bg-second: 54, 60, 72;
  --bg-body: var(--bg);
  --bg-footer: var(--bg);
  --bg-code: rgba(115, 124, 153, 0.2);
  --blockquote-color: #fff;
  --main-text-color: hsla(0, 0%, 100%, 0.85);
  --second-text-color: hsla(0, 0%, 100%, 0.65);
  --disable-text-color: hsla(0, 0%, 100%, 0.45);
  --border-color: hsla(0, 0%, 100%, 0.2);
  --box-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
  --scrollbar-bg: var(--bg-second);
  --comment-editor-border-color: var(--border-color);
  --comment-editor-disable-bg: var(--border-color);
}
.container {
  margin-right: auto;
  margin-left: auto
}

@media (max-width: 768px) {
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px
  }
}

@media (min-width: 768px) {
  .container {
      width:768px
  }
}

@media (min-width: 992px) {
  .container {
      width:970px
  }
}

@media (min-width: 1200px) {
  .container {
      width:1140px
  }
}
.sticky {
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

#nprogress .bar{
  background-color: orange;
}
#sharing_box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.shareimg {
  display: flex;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
  }
}
.ant-modal-content {
  min-width: 400px;
  min-height: 293px;
  max-width: 375px;
  .ant-btn-primary {
    background: #f40a12;
  }
}
.ant-modal-body>img {
  width: 100%;
}
.header{
    position: relative;
    width: 100%;
    height: 64px;
    transition: all .3s ease-in-out;
}


